* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font: 24px "Hind", sans-serif;
}

/* ================================ */
.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  height: 100vh;
  background-color: #121212;
}

/* ================================ */
.players {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: absolute;
  top: 0;
  padding: 1em 2em 1em 2em;
  font-size: 30px;
}

.player1,
.player2 {
  height: 2em;
  width: 15em;
  display: flex;
  align-items: center;
  padding: 1em;
}

.player1 {
  color: #121212;
  background-color: #03dac5;
}

.player2 {
  color: #121212;
  background-color: #cf6679;
  justify-content: flex-end;
}

/* ================================ */
.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 2em;
  height: 70vh;
}

.playerStatus,
.computerStatus {
  display: flex;
}

.playerScore,
.computerScore {
  width: 10vw;
  margin: 1em;
  padding: 0.5em;
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 3px solid;
  border-radius: 10px;
}

.playerScore {
  color: #03dac5;
  border-color: #03dac5;
}

.computerScore {
  color: #cf6679;
  border-color: #cf6679;
}

.playerScore .playerCurrentScore,
.computerCurrentScore {
  font-size: 90px;
}

.playerHand,
.computerHand {
  background-image: url(img/rock.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20vw;
  height: 30vh;
}

.computerHand {
  transform: rotate(180deg);
}

.gameResult {
  color: white;
  font-size: 2em;
  line-height: 1;
  display: flex;
  text-align: center;
  padding: 1em;
}

/* ================================ */
.choices {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
}

.choices button {
  height: 5rem;
  width: 5em;
  font: 40px "Hind", sans-serif;
  color: #bb86fc;
  background-color: transparent;
  border: 5px solid #bb86fc;
}

.choices button:active,
.choices button:hover {
  outline: 0;
  border: 5px inset #3700b3;
  color: #3700b3;
}

.choices button:focus {
  outline: none;
}

/*===============*/
.modal {
  visibility: hidden;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBox {
  height: 65%;
  width: 40%;
  border: 5px solid #cf6679;
  border-radius: 20px;
  background-color: #121212a8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalBox .gg {
  color: #ffffff;
  font-size: 3.5em;
}

.modalBox .result {
  color: #cf6679;
  font-size: 3em;
}

.modalBox .playAgain {
  height: 3rem;
  width: 8em;
  font-size: 20px;
  color: #121212;
  background-color: #ffffff;
  outline: none;
  border: none;
}

.modalBox .playAgain:active,
.modalBox .playAgain:hover {
  outline: 0;
  background-color: #121212;
  border: 3px solid #ffffff;
  color: #ffffff;
}

.modalBox .playAgain:focus {
  outline: none;
}
